<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()" fill="solid" color="light">
        <ion-icon name="arrow-back" slot="icon-only" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Redefinir Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item color="light" class="ion-margin" lines="none">
      <ion-input
        type="email"
        placeholder="E-mail"
        name="email"
        [(ngModel)]="email"
      ></ion-input>
    </ion-item>
    <ion-button class="ion-margin" expand="block" (click)="sendPasswordReset()">
      Enviar
    </ion-button>
  </ion-list>
</ion-content>
