<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div
    *ngIf="!isLoading && cartList.length === 0"
    class="flex ion-text-center ion-padding-top"
  >
    <ion-text color="medium">Carrinho vazio</ion-text>
  </div>
  <ion-item *ngFor="let product of productList" class="ion-no-padding">
    <ion-grid (click)="presentModal(product.id)">
      <ion-row
        class="ion-margin-top ion-justify-content-center ion-align-items-start"
      >
        <ion-col size="3">
          <img [src]="product.image" [alt]="product.title" />
        </ion-col>

        <ion-col size="7">
          <ion-row color="dark">
            <ion-label class="ion-text-wrap">
              <h2>{{ product.title }}</h2>
              <p>{{ product.shop }}</p>
              <p><strong>Quantidade: {{ product.quantidade }}</strong></p>
              <ion-note color="primary">
                <strong> {{ product.price | currency: 'BRL'}} </strong>
              </ion-note>
            </ion-label>
          </ion-row>
        </ion-col>

        <ion-col size="2">
          <ion-row>
            <ion-button
              color="dark"
              fill="clear"
              size="small"
              (click)="removeProduct(product.cartItemId, $event)"
            >
              <ion-icon slot="icon-only" name="trash" size="small"></ion-icon>
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <ion-item lines="none">
      <ion-label> Total </ion-label>
      <ion-text slot="end" color="primary">
        <strong> {{ totalPrice | currency: 'BRL'}} </strong>
      </ion-text>
    </ion-item>
    <ion-button expand="block" class="ion-margin">Finalizar compra</ion-button>
  </ion-toolbar>
</ion-footer>
