.main-slides {
  margin-top: 0.8rem;
  padding-left: 0.8rem;
  
  &__slide {
    border-radius: 1rem;
    overflow: hidden;
  }
}

.title {
  font-weight: 900;
  padding: 0.5rem 0.8rem 0.8rem 0.8rem;

  &__products {
    padding-top: 1.5rem;
    padding-bottom: 0;
  }
}

.categories {

  &__category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--name {
      font-size: 0.9rem;
      margin-top: 0.5rem;
    }

    &--image {
      background-color: var(--ion-color-primary);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.products {
  padding: 0;

  &__product {
    cursor: pointer;
    padding: 0.2rem 0.2rem 0.2rem 0.5rem;
    
    &:hover {
      background-color: var(--ion-color-light);
    }

    &--image {
      border-radius: 0.5rem;
    }
  }
}