<ion-content>
  <ion-list>
    <ion-item-group *ngFor="let product of products" lines="none">
      <app-product [product]="product"></app-product>
    </ion-item-group>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-item lines="none">
    <ion-label>
      Total
    </ion-label>
    <ion-text slot="end" color="primary">
      <strong>
          {{ 5 | currency: 'BRL'}}
      </strong>
    </ion-text>
  </ion-item>
  <ion-button expand="block" shape="round" class="ion-margin">Finalizar compra</ion-button>
</ion-footer>