.main-slides {
  margin-top: 0.8rem;
  padding-left: 0.8rem;

  &__slide {
    max-height: 8rem;
    border-radius: 1rem;
    overflow: hidden;

    img {
      object-fit: cover;
    }
  }
}

.title {
  font-weight: 900;
  padding: 0.5rem 0.8rem 0.2rem 0.8rem;

  &__products {
    padding-top: 1.5rem;
    padding-bottom: 0;
  }
}

.products {
  padding: 0;

  &__product {
    padding: 0.2rem 0.2rem 0.2rem 0.5rem;

    &--image {
      border-radius: 0.5rem;
    }
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0.6rem;
}
